POSTGRES_DB=example_password
POSTGRES_USER=example_password
POSTGRES_PASSWORD=example_password

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:0000/postgres
SPRING_DATASOURCE_USERNAME=example_username
SPRING_DATASOURCE_PASSWORD=example_password

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
AWS_ACCESSKEYID=minioadmin
AWS_SECRETKEY=minioadmin
AWS_REGION=us-east-1
AWS_BUCKET=example_bucket_name
AWS_ENDPOINT=http://minio:0000
AWS_PUBLIC_ENDPOINT=http://localhost:0000

JWT_SECRET=megasecretJWTKeyexample
